<article class="post">
  <a href="/post/{{ id }}">
    <div class="card">
      <h3 class="card-header">{{ title }}</h3>
      <div class="card-body">
        <p>
          {{ content }}
        </p>
        by {{ user.username }} on {{ format_date created_at }}
        |
        {{ comments.length }} {{ format_plural "comment" comments.length }}
      </div>
    </div>
  </a>
</article>